include /layouts/base.pug
div.app-info
    .app-info__wrap 
        .app-info__block
            img(src="img/app-info-img.png" alt="") 
            p.app-info__descr 
                span Bonus 200 1win Coins
                | Available for Android and iOS
        table.app-info__table
            tbody.app-info__table-tbody
                tr.app-info__table-tr
                    td.app-info__table-td
                        img(src="img/star.png" alt="")
                        span 4.8/5
                        | User Rating
                tr.app-info__table-tr
                    td.app-info__table-td
                        img(src="img/download.png" alt="")
                        span 43.12 MB
                        | App Size
                tr.app-info__table-tr
                    td.app-info__table-td
                        img(src="img/download2.png" alt="")
                        span 18k+
                        | Downloads
                tr.app-info__table-tr
                    td.app-info__table-td
                        img(src="img/update.png" alt="")
                        span 10.06.2025
                        | Last Update

