include /layouts/base.pug
.app-banner     
    .app-banner__content 
        p.app-banner__title
            span Bonus 200 1win Coins
            | Available for Android and iOS
        +button("btn--extra", "Download App")
    img(src="img/app-banner.png", alt="")
