aside.mob-btn.mob-btn--v2
    .mob-btn__main
        p.mob-btn__title 
            | Bonus 
            span 200 1win Coins
        p.mob-btn__text Available for Android and iOS
    button(class='btn sf-link btn--extra' data-sf-a="aHR0cHM6Ly93d3cuZ29vZ2xlLmNvbS8=")   
        | Install
        img(src=`img/mob-btn-img-2.png`, alt="")
