aside.mob-btn
    img(src=`img/mob-btn-img.png`, alt="") 
    .mob-btn__main
        p.mob-btn__text Welcome Bonus
        p.mob-btn__title 
            span +100%
            | on the 1st deposit
    +button("btn--extra", "Get Bonus")