@use "./media" as *;

@mixin rateStars($size: 24px, $sizeS: null) {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;

    --percent: calc(var(--rating, 4.5) / 5 * 100%);

    &::before,
    &::after {
        content: "";
        font-size: calc($size);
        line-height: calc($size - 2px);
        height: $size;
        letter-spacing: 0px;
        font-weight: 100;
    }

    &::before {
        content: "★★★★★";
        display: block;
        background: linear-gradient(
            90deg,
            var(--star-color) var(--percent),
            var(--star-bg) var(--percent)
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &::after {
        content: "☆☆☆☆☆";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: block;
        letter-spacing: 0px;
        color: var(--star-color);
    }

    @if $sizeS != null {
        @include media-max-sm {
            &::before,
            &::after {
                font-size: calc($sizeS);
                line-height: calc($sizeS - 2px);
                height: $sizeS;
                letter-spacing: 0px;
            }
        }
    }

    @supports (mask: url(#)) {
        &::before,
        &::after {
            content: "";
            width: calc($size * 5);
            height: $size;
            color: unset;
            -webkit-background-clip: unset;
            -webkit-text-fill-color: unset;
            background-clip: unset;
        }

        &::before {
            background: linear-gradient(
                90deg,
                var(--star-color) var(--percent),
                var(--star-bg) var(--percent)
            );
            -webkit-mask: url('data:image/svg+xml,<svg width="160" height="32" viewBox="0 0 160 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.524 3.082a.5.5 0 0 1 .952 0l2.417 7.438a1.5 1.5 0 0 0 1.425 1.036h7.822a.5.5 0 0 1 .294.904l-6.328 4.597a1.5 1.5 0 0 0-.545 1.677l2.416 7.438a.5.5 0 0 1-.768.558l-6.327-4.596a1.5 1.5 0 0 0-1.764 0L8.791 26.73a.5.5 0 0 1-.769-.558l2.416-7.438a1.5 1.5 0 0 0-.544-1.677L3.566 12.46a.5.5 0 0 1 .294-.904h7.822a1.5 1.5 0 0 0 1.425-1.036zm32 0a.5.5 0 0 1 .952 0l2.417 7.438a1.5 1.5 0 0 0 1.425 1.036h7.822a.5.5 0 0 1 .294.904l-6.328 4.597a1.5 1.5 0 0 0-.544 1.677l2.416 7.438a.5.5 0 0 1-.769.558l-6.327-4.596a1.5 1.5 0 0 0-1.764 0l-6.327 4.596a.5.5 0 0 1-.768-.558l2.415-7.438a1.5 1.5 0 0 0-.544-1.677l-6.328-4.597a.5.5 0 0 1 .294-.904h7.822a1.5 1.5 0 0 0 1.425-1.036zm32 0a.5.5 0 0 1 .952 0l2.417 7.438a1.5 1.5 0 0 0 1.425 1.036h7.822a.5.5 0 0 1 .294.904l-6.328 4.597a1.5 1.5 0 0 0-.544 1.677l2.416 7.438a.5.5 0 0 1-.769.558l-6.327-4.596a1.5 1.5 0 0 0-1.764 0l-6.327 4.596a.5.5 0 0 1-.769-.558l2.416-7.438a1.5 1.5 0 0 0-.544-1.677l-6.328-4.597a.5.5 0 0 1 .294-.904h7.822a1.5 1.5 0 0 0 1.425-1.036zm32 0a.5.5 0 0 1 .952 0l2.417 7.438a1.5 1.5 0 0 0 1.425 1.036h7.822a.5.5 0 0 1 .294.904l-6.328 4.597a1.5 1.5 0 0 0-.544 1.677l2.416 7.438a.5.5 0 0 1-.769.558l-6.327-4.596a1.5 1.5 0 0 0-1.764 0l-6.327 4.596a.5.5 0 0 1-.769-.558l2.416-7.438a1.5 1.5 0 0 0-.544-1.677l-6.328-4.597a.5.5 0 0 1 .294-.904h7.822c.649 0 1.225-.419 1.425-1.036zm32 0a.5.5 0 0 1 .952 0l2.417 7.438a1.5 1.5 0 0 0 1.425 1.036h7.822a.5.5 0 0 1 .294.904l-6.328 4.597a1.5 1.5 0 0 0-.544 1.677l2.416 7.438a.5.5 0 0 1-.769.558l-6.327-4.596a1.5 1.5 0 0 0-1.764 0l-6.327 4.596a.5.5 0 0 1-.769-.558l2.416-7.438a1.5 1.5 0 0 0-.544-1.677l-6.328-4.597a.5.5 0 0 1 .294-.904h7.822c.649 0 1.225-.419 1.425-1.036z" fill="%23FF8F4A" stroke="%23FF8F4A"/></svg>');
            mask: url('data:image/svg+xml,<svg width="160" height="32" viewBox="0 0 160 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.524 3.082a.5.5 0 0 1 .952 0l2.417 7.438a1.5 1.5 0 0 0 1.425 1.036h7.822a.5.5 0 0 1 .294.904l-6.328 4.597a1.5 1.5 0 0 0-.545 1.677l2.416 7.438a.5.5 0 0 1-.768.558l-6.327-4.596a1.5 1.5 0 0 0-1.764 0L8.791 26.73a.5.5 0 0 1-.769-.558l2.416-7.438a1.5 1.5 0 0 0-.544-1.677L3.566 12.46a.5.5 0 0 1 .294-.904h7.822a1.5 1.5 0 0 0 1.425-1.036zm32 0a.5.5 0 0 1 .952 0l2.417 7.438a1.5 1.5 0 0 0 1.425 1.036h7.822a.5.5 0 0 1 .294.904l-6.328 4.597a1.5 1.5 0 0 0-.544 1.677l2.416 7.438a.5.5 0 0 1-.769.558l-6.327-4.596a1.5 1.5 0 0 0-1.764 0l-6.327 4.596a.5.5 0 0 1-.768-.558l2.415-7.438a1.5 1.5 0 0 0-.544-1.677l-6.328-4.597a.5.5 0 0 1 .294-.904h7.822a1.5 1.5 0 0 0 1.425-1.036zm32 0a.5.5 0 0 1 .952 0l2.417 7.438a1.5 1.5 0 0 0 1.425 1.036h7.822a.5.5 0 0 1 .294.904l-6.328 4.597a1.5 1.5 0 0 0-.544 1.677l2.416 7.438a.5.5 0 0 1-.769.558l-6.327-4.596a1.5 1.5 0 0 0-1.764 0l-6.327 4.596a.5.5 0 0 1-.769-.558l2.416-7.438a1.5 1.5 0 0 0-.544-1.677l-6.328-4.597a.5.5 0 0 1 .294-.904h7.822a1.5 1.5 0 0 0 1.425-1.036zm32 0a.5.5 0 0 1 .952 0l2.417 7.438a1.5 1.5 0 0 0 1.425 1.036h7.822a.5.5 0 0 1 .294.904l-6.328 4.597a1.5 1.5 0 0 0-.544 1.677l2.416 7.438a.5.5 0 0 1-.769.558l-6.327-4.596a1.5 1.5 0 0 0-1.764 0l-6.327 4.596a.5.5 0 0 1-.769-.558l2.416-7.438a1.5 1.5 0 0 0-.544-1.677l-6.328-4.597a.5.5 0 0 1 .294-.904h7.822c.649 0 1.225-.419 1.425-1.036zm32 0a.5.5 0 0 1 .952 0l2.417 7.438a1.5 1.5 0 0 0 1.425 1.036h7.822a.5.5 0 0 1 .294.904l-6.328 4.597a1.5 1.5 0 0 0-.544 1.677l2.416 7.438a.5.5 0 0 1-.769.558l-6.327-4.596a1.5 1.5 0 0 0-1.764 0l-6.327 4.596a.5.5 0 0 1-.769-.558l2.416-7.438a1.5 1.5 0 0 0-.544-1.677l-6.328-4.597a.5.5 0 0 1 .294-.904h7.822c.649 0 1.225-.419 1.425-1.036z" fill="%23FF8F4A" stroke="%23FF8F4A"/></svg>');
            -webkit-mask-size: contain;
            mask-size: contain;
        }

        &::after {
            background: var(--star-color);
            -webkit-mask: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="160" height="32" viewBox="0 0 160 32" fill="none"><path d="M15.524 3.082a.5.5 0 0 1 .952 0l2.417 7.438a1.5 1.5 0 0 0 1.425 1.036h7.822a.5.5 0 0 1 .294.904l-6.328 4.597a1.5 1.5 0 0 0-.545 1.677l2.416 7.438a.5.5 0 0 1-.768.558l-6.327-4.596a1.5 1.5 0 0 0-1.764 0L8.791 26.73a.5.5 0 0 1-.769-.558l2.416-7.438a1.5 1.5 0 0 0-.544-1.677L3.566 12.46a.5.5 0 0 1 .294-.904h7.822a1.5 1.5 0 0 0 1.425-1.036zm32 0a.5.5 0 0 1 .952 0l2.417 7.438a1.5 1.5 0 0 0 1.425 1.036h7.822a.5.5 0 0 1 .294.904l-6.328 4.597a1.5 1.5 0 0 0-.545 1.677l2.416 7.438a.5.5 0 0 1-.768.558l-6.327-4.596a1.5 1.5 0 0 0-1.764 0l-6.327 4.596a.5.5 0 0 1-.769-.558l2.416-7.438a1.5 1.5 0 0 0-.544-1.677l-6.328-4.597a.5.5 0 0 1 .294-.904h7.822a1.5 1.5 0 0 0 1.425-1.036zm32 0a.5.5 0 0 1 .952 0l2.417 7.438a1.5 1.5 0 0 0 1.425 1.036h7.822a.5.5 0 0 1 .294.904l-6.328 4.597a1.5 1.5 0 0 0-.545 1.677l2.416 7.438a.5.5 0 0 1-.768.558l-6.327-4.596a1.5 1.5 0 0 0-1.764 0l-6.327 4.596a.5.5 0 0 1-.769-.558l2.416-7.438a1.5 1.5 0 0 0-.544-1.677l-6.328-4.597a.5.5 0 0 1 .294-.904h7.822a1.5 1.5 0 0 0 1.425-1.036zm32 0a.5.5 0 0 1 .952 0l2.417 7.438a1.5 1.5 0 0 0 1.425 1.036h7.822a.5.5 0 0 1 .294.904l-6.328 4.597a1.5 1.5 0 0 0-.545 1.677l2.416 7.438a.5.5 0 0 1-.768.558l-6.327-4.596a1.5 1.5 0 0 0-1.764 0l-6.327 4.596a.5.5 0 0 1-.769-.558l2.416-7.438a1.5 1.5 0 0 0-.544-1.677l-6.328-4.597a.5.5 0 0 1 .294-.904h7.822a1.5 1.5 0 0 0 1.425-1.036zm32 0a.5.5 0 0 1 .952 0l2.417 7.438a1.5 1.5 0 0 0 1.425 1.036h7.822a.5.5 0 0 1 .294.904l-6.328 4.597a1.5 1.5 0 0 0-.545 1.677l2.416 7.438a.5.5 0 0 1-.768.558l-6.327-4.596a1.5 1.5 0 0 0-1.764 0l-6.327 4.596a.5.5 0 0 1-.769-.558l2.416-7.438a1.5 1.5 0 0 0-.544-1.677l-6.328-4.597a.5.5 0 0 1 .294-.904h7.822a1.5 1.5 0 0 0 1.425-1.036z" stroke="%23FF8F4A"/></svg>');
            mask: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="160" height="32" viewBox="0 0 160 32" fill="none"><path d="M15.524 3.082a.5.5 0 0 1 .952 0l2.417 7.438a1.5 1.5 0 0 0 1.425 1.036h7.822a.5.5 0 0 1 .294.904l-6.328 4.597a1.5 1.5 0 0 0-.545 1.677l2.416 7.438a.5.5 0 0 1-.768.558l-6.327-4.596a1.5 1.5 0 0 0-1.764 0L8.791 26.73a.5.5 0 0 1-.769-.558l2.416-7.438a1.5 1.5 0 0 0-.544-1.677L3.566 12.46a.5.5 0 0 1 .294-.904h7.822a1.5 1.5 0 0 0 1.425-1.036zm32 0a.5.5 0 0 1 .952 0l2.417 7.438a1.5 1.5 0 0 0 1.425 1.036h7.822a.5.5 0 0 1 .294.904l-6.328 4.597a1.5 1.5 0 0 0-.545 1.677l2.416 7.438a.5.5 0 0 1-.768.558l-6.327-4.596a1.5 1.5 0 0 0-1.764 0l-6.327 4.596a.5.5 0 0 1-.769-.558l2.416-7.438a1.5 1.5 0 0 0-.544-1.677l-6.328-4.597a.5.5 0 0 1 .294-.904h7.822a1.5 1.5 0 0 0 1.425-1.036zm32 0a.5.5 0 0 1 .952 0l2.417 7.438a1.5 1.5 0 0 0 1.425 1.036h7.822a.5.5 0 0 1 .294.904l-6.328 4.597a1.5 1.5 0 0 0-.545 1.677l2.416 7.438a.5.5 0 0 1-.768.558l-6.327-4.596a1.5 1.5 0 0 0-1.764 0l-6.327 4.596a.5.5 0 0 1-.769-.558l2.416-7.438a1.5 1.5 0 0 0-.544-1.677l-6.328-4.597a.5.5 0 0 1 .294-.904h7.822a1.5 1.5 0 0 0 1.425-1.036zm32 0a.5.5 0 0 1 .952 0l2.417 7.438a1.5 1.5 0 0 0 1.425 1.036h7.822a.5.5 0 0 1 .294.904l-6.328 4.597a1.5 1.5 0 0 0-.545 1.677l2.416 7.438a.5.5 0 0 1-.768.558l-6.327-4.596a1.5 1.5 0 0 0-1.764 0l-6.327 4.596a.5.5 0 0 1-.769-.558l2.416-7.438a1.5 1.5 0 0 0-.544-1.677l-6.328-4.597a.5.5 0 0 1 .294-.904h7.822a1.5 1.5 0 0 0 1.425-1.036zm32 0a.5.5 0 0 1 .952 0l2.417 7.438a1.5 1.5 0 0 0 1.425 1.036h7.822a.5.5 0 0 1 .294.904l-6.328 4.597a1.5 1.5 0 0 0-.545 1.677l2.416 7.438a.5.5 0 0 1-.768.558l-6.327-4.596a1.5 1.5 0 0 0-1.764 0l-6.327 4.596a.5.5 0 0 1-.769-.558l2.416-7.438a1.5 1.5 0 0 0-.544-1.677l-6.328-4.597a.5.5 0 0 1 .294-.904h7.822a1.5 1.5 0 0 0 1.425-1.036z" stroke="%23FF8F4A"/></svg>');
            -webkit-mask-size: contain;
            mask-size: contain;
        }
    }

    @if $sizeS != null {
        @include media-max-sm {
            &::before,
            &::after {
                content: "";
                font-size: calc($sizeS);
                line-height: calc($sizeS - 2px);
                height: $sizeS;
            }

            @supports (mask: url(#)) {
                &::before,
                &::after {
                    width: calc($sizeS * 5);
                    height: $sizeS;
                }
            }
        }
    }
}

@mixin rateStarsOne($size: 24px, $sizeS: null) {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;

    --percent: calc(var(--rating, 4.5) / 5 * 100%);

    &::before,
    &::after {
        content: "";
        font-size: calc($size);
        line-height: calc($size - 2px);
        height: $size;
        letter-spacing: 0px;
        font-weight: 100;
    }

    &::before {
        content: "★";

        display: block;
        background: linear-gradient(
            90deg,
            var(--star-color) var(--percent),
            var(--star-bg) var(--percent)
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &::after {
        content: "☆";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: block;
        letter-spacing: 0px;
        color: var(--star-color);
    }

    @if $sizeS != null {
        @include media-max-sm {
            &::before,
            &::after {
                font-size: calc($sizeS);
                line-height: calc($sizeS - 2px);
                height: $sizeS;
                letter-spacing: 0px;
            }
        }
    }

    @supports (mask: url(#)) {
        &::before,
        &::after {
            content: "";
            width: $size;
            height: $size;
            color: unset;
            -webkit-background-clip: unset;
            -webkit-text-fill-color: unset;
            background-clip: unset;
        }

        &::before {
            background: linear-gradient(
                90deg,
                var(--star-color) var(--percent),
                var(--star-bg) var(--percent)
            );
            -webkit-mask: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none"><path d="M15.524 3.082a.5.5 0 0 1 .952 0l2.417 7.438a1.5 1.5 0 0 0 1.425 1.036h7.822a.5.5 0 0 1 .294.904l-6.328 4.597a1.5 1.5 0 0 0-.545 1.677l2.416 7.438a.5.5 0 0 1-.768.558l-6.327-4.596a1.5 1.5 0 0 0-1.764 0L8.791 26.73a.5.5 0 0 1-.769-.558l2.416-7.438a1.5 1.5 0 0 0-.544-1.677L3.566 12.46a.5.5 0 0 1 .294-.904h7.822a1.5 1.5 0 0 0 1.425-1.036z" fill="%23FF8F4A" stroke="%23FF8F4A"/></svg>');
            mask: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none"><path d="M15.524 3.082a.5.5 0 0 1 .952 0l2.417 7.438a1.5 1.5 0 0 0 1.425 1.036h7.822a.5.5 0 0 1 .294.904l-6.328 4.597a1.5 1.5 0 0 0-.545 1.677l2.416 7.438a.5.5 0 0 1-.768.558l-6.327-4.596a1.5 1.5 0 0 0-1.764 0L8.791 26.73a.5.5 0 0 1-.769-.558l2.416-7.438a1.5 1.5 0 0 0-.544-1.677L3.566 12.46a.5.5 0 0 1 .294-.904h7.822a1.5 1.5 0 0 0 1.425-1.036z" fill="%23FF8F4A" stroke="%23FF8F4A"/></svg>');
            -webkit-mask-size: contain;
            mask-size: contain;
        }

        &::after {
            background: var(--star-color);
            -webkit-mask: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none"><path d="M15.524 3.082a.5.5 0 0 1 .952 0l2.417 7.438a1.5 1.5 0 0 0 1.425 1.036h7.822a.5.5 0 0 1 .294.904l-6.328 4.597a1.5 1.5 0 0 0-.545 1.677l2.416 7.438a.5.5 0 0 1-.768.558l-6.327-4.596a1.5 1.5 0 0 0-1.764 0L8.791 26.73a.5.5 0 0 1-.769-.558l2.416-7.438a1.5 1.5 0 0 0-.544-1.677L3.566 12.46a.5.5 0 0 1 .294-.904h7.822a1.5 1.5 0 0 0 1.425-1.036z" stroke="%23FF8F4A"/></svg>');
            mask: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none"><path d="M15.524 3.082a.5.5 0 0 1 .952 0l2.417 7.438a1.5 1.5 0 0 0 1.425 1.036h7.822a.5.5 0 0 1 .294.904l-6.328 4.597a1.5 1.5 0 0 0-.545 1.677l2.416 7.438a.5.5 0 0 1-.768.558l-6.327-4.596a1.5 1.5 0 0 0-1.764 0L8.791 26.73a.5.5 0 0 1-.769-.558l2.416-7.438a1.5 1.5 0 0 0-.544-1.677L3.566 12.46a.5.5 0 0 1 .294-.904h7.822a1.5 1.5 0 0 0 1.425-1.036z" stroke="%23FF8F4A"/></svg>');
            -webkit-mask-size: contain;
            mask-size: contain;
        }
    }

    @if $sizeS != null {
        @include media-max-sm {
            &::before,
            &::after {
                content: "";
                font-size: calc($sizeS);
                line-height: calc($sizeS - 2px);
                height: $sizeS;
            }

            @supports (mask: url(#)) {
                &::before,
                &::after {
                    width: $sizeS;
                    height: $sizeS;
                }
            }
        }
    }
}
