@use "./media" as *;
@use "sass:math";
$font-size-default: 16;

@function rem($pxValue) {
    @return math.div($pxValue, $font-size-default) + rem;
}

@mixin font-display-l() {
    font-size: rem(36);
    line-height: 140%;
}

@mixin font-display-sm() {
    font-size: rem(30);
    line-height: 130%;
}

@mixin font-display-xs() {
    font-size: rem(24);
    line-height: 130%;
}

@mixin font-text-xl() {
    font-size: rem(20);
    line-height: 140%;
}

@mixin font-text-lg() {
    font-size: rem(18);
    line-height: 150%;
}

@mixin font-text-lg-m() {
    font-weight: 500;
    font-size: rem(18);
    line-height: 150%;
}

@mixin font-text-md() {
    font-size: rem(16);
    line-height: 150%;
}

@mixin font-text-sm() {
    font-size: rem(14);
    line-height: 150%;
}

@mixin font-text-xs() {
    font-size: rem(12);
    line-height: 150%;
}
