@use "../settings" as *;

.footer {
    position: relative;
    padding-block: 48px;
    @include flex(column, flex-start, flex-start, 32px);

    &__logo {
        display: flex;
        margin-right: auto;

        &:is(a) {
            @include hoverOpacity;
        }

        img,
        svg {
            @include maxSize(200px, 100px);
            object-fit: contain;
        }
    }

    &__row {
        width: 100%;
        @include flex(row, center, space-between, 24px);
        flex-wrap: wrap;

        &:not(:last-child) {
            padding-bottom: 32px;
            border-bottom: 1px solid var(--line-color, #353740);
        }
    }

    &__nav {
        width: 640px;
        max-width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 24px 60px;

        &-list {
            @include flex(column, flex-start, flex-start, 12px);
        }
        &-item {
            color: var(--text-main, #fff);
            font-weight: 600;
            @include font-text-xl;

            &:not(:has(a)):first-child {
                margin-bottom: 4px;
            }

            a {
                font-weight: 400;
                @include font-text-md;
                @include transition(color);

                @include hoverActiveFocus {
                    color: var(--accent-base, #0051ff);
                }
            }
        }
    }

    &__logos {
        @include flex(row, center, flex-start, 16px);
        flex-wrap: wrap;

        li {
            max-width: 100%;
        }

        img,
        svg {
            max-width: 100%;
            max-height: 28px;
        }
    }

    &__soc {
        @include flex(row, center, flex-start, 16px);
        row-gap: 8px;
        flex-wrap: wrap;

        &-link {
            @include flex(row, center, center);
            width: 42px;
            height: 42px;
            min-width: 42px;

            & > img,
            & > svg {
                max-height: 100%;
                max-width: 100%;
                object-fit: contain;
            }

            @include hoverOpacity;
        }
    }

    &__copyright {
        color: var(--text-secondary, #d2d2d2);
        @include font-text-sm;
    }

    @include media-max-mlg {
        &__row {
            flex-direction: column;
            align-items: flex-start;

            &--bottom {
                flex-direction: column-reverse;
            }
        }

        &__nav {
            grid-template-columns: 1fr;
        }
    }

    @include media-max-sm {
        gap: 24px;
        padding-block: 32px;

        &__row {
            &:not(:last-child) {
                padding-bottom: 24px;
            }
            &--bottom {
                gap: 16px;
            }
        }
    }
}
