@use "../settings" as *;
.header-menu {
    padding: 3px;
    border-radius: 16px;
    @include flex(row, center, flex-start);
    background: var(--surf-container, #1f1f1f);

    $burger-max: $max-mlg;
    $burger-min: $min-mlg;

    ///////////////////////////////////////////////////////////////
    //                     COMMON
    ///////////////////////////////////////////////////////////////
    .submenu {
        @include flex(column, stretch, flex-start, 2px);
        @include thin-v-scrollbar;
    }

    .item {
        @include relative;
        @include flex(row, center, flex-start, 8px);
        @include transition(background);

        a,
        span {
            color: var(--text-main, #fff);
            flex: 1;
            @include flex(row, center, flex-start, 8px);
            @include transition(#{background, color});
        }

        &.parent,
        &:not(.parent) > a,
        &:not(.parent) > span {
            @include flex(row, center);
            padding: 8px 16px;
            border-radius: var(--button-radius, 12px);
        }

        &.current {
            &.parent,
            &:not(.parent) > a,
            &:not(.parent) > span {
                background: var(--secondary-button-bg, #0051ff);
            }
        }
    }

    & > .item {
        @for $i from 1 through 50 {
            &:nth-child(#{$i}) {
                z-index: calc(50 - $i);
            }
        }
    }

    svg {
        @include transition(transform);
        @include minSize(20px, 20px);
    }

    .item.parent {
        cursor: pointer;
    }

    .submenu {
        width: 100%;
        display: none;
    }

    @include mediaMin($burger-min) {
        .item {
            &.parent,
            &:not(.parent) > a,
            &:not(.parent) > span {
                @include hoverActiveFocus {
                    background: var(--card-secondary-bg, #27292d);
                }
            }
        }
        & > .item {
            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 1px;
                height: 24px;
                background: var(--line-color, #353740);
            }

            &.current,
            &:first-child {
                &::before {
                    display: none;
                }
            }

            @include hoverActiveFocus {
                &,
                & + .item {
                    &::before {
                        display: none;
                    }
                }
            }
        }

        .item.parent {
            &::after {
                content: "";
                @include size(100%, 24px);
                @include absolute(100%, 0);
                transform: translate(0, -4px);
                display: none;
            }

            @include hover {
                &::after {
                    display: block;
                }
                & > .submenu {
                    display: flex;
                }
                .arrow-down {
                    transform: rotate(-180deg);
                }
                & > svg {
                    transform: rotate(-180deg);
                }
            }
        }

        .submenu {
            width: max-content;
            max-width: 250px;
            min-width: 153px;

            padding: 8px;
            border-radius: var(--card-radius, 16px);
            background: var(--card-bg, #1d1e21);
            box-shadow: 0px 0px 10px 0px var(--card-secondary-bg, #27292d);

            @include absolute(calc(100% + 12px), 0);

            &:not(:has(.submenu)) {
                max-height: 300px;
                overflow-y: auto;
            }

            .item {
                text-transform: none;
                &.parent {
                    & > svg {
                        transform: rotate(-90deg);
                    }
                }
            }

            .submenu {
                top: 0;
                left: calc(100% + 8px + 4px);

                max-height: unset;
                overflow-y: unset;

                &::before {
                    content: "";
                    position: absolute;
                    left: -15px;
                    top: 0;
                    width: 30px;
                    height: 100%;
                    background-color: transparent;
                }
            }
        }
    }

    @include mediaMax($burger-max) {
        flex-direction: column;
        align-items: stretch;
        gap: 8px;

        padding: 0;
        background: transparent;

        & > .item {
            &::before {
                display: none;
            }
        }

        .submenu {
            position: relative;
            gap: 8px;
        }

        .item {
            transition-duration: 0s;
            &.parent {
                flex-wrap: wrap;
                align-items: flex-start;

                & > :is(a, span) {
                    align-self: center;
                    width: fit-content;
                    flex: unset;
                    max-width: calc(100% - 20px - 10px);
                }

                & > svg {
                    margin-left: auto;
                    align-self: center;
                }
            }

            &.active {
                & > .submenu {
                    display: flex;
                    width: calc(100% + 32px);
                    margin-inline: -16px;
                    background: var(--card-bg, #1d1e21);
                    margin-bottom: -8px;
                    margin-top: -8px;
                    padding-top: 16px;

                    &::before {
                        content: "";
                        width: 100%;
                        position: absolute;
                        left: 0;
                        top: -4px;
                        height: 12px;
                        background: var(--card-secondary-bg, #27292d);
                        border-radius: 0 0 var(--button-radius, 12px) var(--button-radius, 12px);
                    }

                    & > .item {
                        font-weight: 500;
                        @include font-text-sm;
                    }

                    & > .item.active .submenu {
                        width: calc(100% + 32px);
                        margin-inline: -16px;

                        & > .item {
                            font-weight: 400;
                            &:not(.parent) > :is(a, span),
                            &.parent {
                                padding-inline: calc(16px + 8px);
                            }
                        }
                    }
                }

                &.current > .submenu {
                    &::before {
                        background: var(--secondary-button-bg, #0051ff);
                    }
                }
                & > svg {
                    transform: rotate(-180deg);
                }

                border-radius: var(--button-radius, 12px);
                background: var(--card-secondary-bg, #27292d);
            }
        }
    }
}
