@use "../settings" as *;
.header {
    --header-height: 80px;
    $burger-max: $max-mlg;
    $burger-min: $min-mlg;

    @include relative;
    padding: 16px var(--offsets, 20px);
    z-index: $z-index-header;

    width: 100%;
    max-width: calc(var(--width-container) + var(--offsets, 20px) * 2);
    min-height: var(--header-height, 80px);
    margin: 0 auto;

    &__wrap {
        width: 100%;
        @include flex(row, center, flex-start, 20px);
        z-index: $z-index-menu;
    }

    &__logo {
        display: flex;
        margin-right: auto;

        &:is(a) {
            @include hoverOpacity;
        }

        img,
        svg {
            @include maxSize(200px, 100px);
            object-fit: contain;
        }
    }

    &__mob {
        @include flex(column, stretch, flex-start);
        display: contents;

        @include mediaMax($burger-max) {
            order: 100;
            width: 100%;
            gap: 20px;
            overflow-y: auto;
            display: none;
            @include thin-v-scrollbar;
        }
    }

    &__nav {
        flex: 1 1;
        margin-left: 4px;
        @include flex(row, center, flex-start);
    }

    &__burger {
        @include relative();
        @include flex(row, center, center);
        @include size(40px, 40px);
        min-width: 40px;
        padding: 12px 10px;
        cursor: pointer;

        border-radius: var(--button-radius, 12px);
        background: var(--card-bg, #1d1e21);

        @include transition(#{background});

        &::after {
            content: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.2 6c0-.663.604-1.2 1.35-1.2h18.9c.745 0 1.35.537 1.35 1.2s-.605 1.2-1.35 1.2H2.55C1.803 7.2 1.2 6.663 1.2 6m0 12c0-.663.604-1.2 1.35-1.2h8.1c.745 0 1.35.537 1.35 1.2s-.605 1.2-1.35 1.2h-8.1c-.746 0-1.35-.537-1.35-1.2m0-6c0-.663.604-1.2 1.35-1.2h14.1c.745 0 1.35.537 1.35 1.2s-.605 1.2-1.35 1.2H2.55c-.746 0-1.35-.537-1.35-1.2" fill="%23fff"/></svg>');
            width: 24px;
            height: 24px;
            display: block;
        }

        @include mediaMin($burger-min) {
            display: none;
        }

        @include hoverActive {
            background: var(--card-secondary-bg, #27292d);
        }
    }

    .header__btns {
        @include flex(row, center, flex-end, 8px);
    }

    .header__overlay {
        position: fixed;
        inset: 0;
        z-index: calc($z-index-menu - 1);
        background: rgba(16, 18, 17, 0.8);
        -webkit-backdrop-filter: blur(4px);
        backdrop-filter: blur(4px);
        display: none;
    }

    &.menu-active {
        .header__logo {
            align-self: center;
        }

        .header__overlay {
            display: block;
        }

        .header__burger::after {
            content: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M18 6 6 18M6 6l12 12" stroke="%23fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
        }

        .header__wrap {
            display: grid;
            grid-template-columns: auto 1fr;
            grid-template-rows: auto auto 1fr;

            position: fixed;
            left: 0;
            top: 0;
            bottom: 0;
            padding: 16px 16px 0;
            background: var(--card-bg, #1d1e21);
            max-width: 80%;
        }

        .header__mob,
        .header__btns {
            grid-column: 1 / -1;
        }

        .header__mob {
            height: 100%;
        }

        .header__btns {
            flex-wrap: wrap;
            .btn {
                flex: 1 0 auto;
                min-width: calc((100% - 14px) / 2);
            }
        }

        @include mediaMax($burger-max) {
            .header__mob {
                display: flex;
            }
        }
    }

    @include mediaMax($burger-max) {
        .header__nav {
            margin-left: 0;
            flex-direction: column;
            align-items: stretch;
            padding-bottom: 20px;
            border-bottom: 1px solid var(--line-color, #353740);
        }

        .header__mob {
            overflow-x: hidden;
            width: calc(100% + 16px * 2);
            margin-left: -16px;
            padding: 16px;
            border-top: 1px solid var(--line-color, #353740);
        }
    }

    @include media-max-sm {
        .header__wrap {
            flex-wrap: wrap;
            gap: 16px;
        }
        .header__btns {
            width: 100%;
            margin-top: -4px;
        }
    }
}
