@use "../settings" as *;

.modal {
    position: fixed;
    inset: 0;
    z-index: $z-index-modal;
    background: rgba(16, 18, 17, 0.8);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    @include flex(row, center, center);

    &.active {
        z-index: 9999;
        overflow: hidden;
        touch-action: none;
    }
    &:not(.active) {
        display: none;
    }

    &__content {
        position: relative;
        margin: auto var(--offsets, 20px);

        padding: 20px;
        border-radius: 20px;
        background: var(--card-bg, #1d1e21);

        width: 100%;
        max-width: 1320px;
        max-height: calc(100vh - var(--offsets, 20px));

        overflow: hidden;

        display: grid;
        grid-template-columns: 1fr auto auto;
        grid-template-rows: auto 1fr;
        gap: 12px 24px;

        & > * {
            grid-column: 1 / -1;
        }

        .modal__title {
            grid-column: 1 / 2;
        }

        .modal__close {
            grid-column: 3 / 4;
        }

        .btn {
            grid-column: 2 / 3;
            min-width: 200px;
        }

        @include media-max-mlg {
            height: 100%;
            width: 100%;
            max-height: 100%;
            max-width: 100%;
            margin: 0;
            border-radius: 0;

            grid-template-columns: 1fr auto;
            grid-template-rows: auto 1fr auto;
            gap: 12px;

            .modal__close {
                grid-column: 2 / 3;
            }

            .btn {
                min-width: unset;
                width: 100%;
                grid-column: 1 / -1;
                grid-row: 3 / 4;
            }
        }

        @include media-max-sm {
            padding: 16px;
        }
    }

    &__body {
        grid-column: 1 / -1;
        position: relative;
        aspect-ratio: 16 / 9;
        width: 100%;
        max-height: 100%;

        overflow-y: auto;
        @include thin-v-scrollbar;

        @include media-max-mlg {
            aspect-ratio: unset;
        }

        &:before {
            content: "Loading...";
            @include flex(row, center, center);
            @include absolute($all: 0);

            color: var(--on-surface-on-surface-light, #fff);
            animation: loading 1s linear infinite alternate;

            z-index: 1;
        }
        @keyframes loading {
            to {
                opacity: 0;
            }
        }
    }

    iframe {
        @include size(100%, 100%);
        @include maxSize(100%, 100%);
        position: relative;
        z-index: 2;
        display: block;
    }

    &__title {
        align-self: center;
        color: var(--text-main, #fff);
        margin-right: auto;
        font-weight: 600;
        @include font-display-sm;

        @include media-max-sm {
            @include font-text-xl;
        }
    }

    &__close {
        align-self: center;
        position: relative;
        background: transparent;
        border: 0;
        width: 32px;
        min-width: 32px;
        height: 32px;

        @include flex(row, center, center);
        @include hoverOpacity;

        svg,
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        @include media-max-sm {
            width: 24px;
            min-width: 24px;
            height: 24px;
        }
    }
}
