include /layouts/base.pug
footer.footer.wrapper
    .footer__row 
        a.footer__logo(href="#") 
            img(src="img/logo.png" alt="")
        ul.footer__soc 
            li.footer__soc-item 
                a(href="/").footer__soc-link
                    img(src="img/x.png" alt="") 
            li.footer__soc-item 
                a(href="/").footer__soc-link
                    img(src="img/youtube.png" alt="") 
            li.footer__soc-item 
                a(href="/").footer__soc-link
                    img(src="img/tg.png" alt="") 
            li.footer__soc-item 
                a(href="/").footer__soc-link
                    img(src="img/inst.png" alt="") 
            li.footer__soc-item 
                a(href="/").footer__soc-link
                    img(src="img/fb.png" alt="") 
    .footer__row 
        nav.footer__nav 
            for item in footerMenu
                ul.footer__nav-list 
                    for el in item
                        li.footer__nav-item 
                            if el.link
                                a.footer__nav-link(href="/")= el.title
                            else 
                                | #{el.title}

        include /components/fragments/app-banner.pug

    .footer__row.footer__row--bottom
        p.footer__copyright Copyright © 2025 1win. All rights reserved.
        if footerLogos
            ul.footer__logos    
                each item in footerLogos 
                    li  
                        img(src=`${item}`, alt="")       
