include /layouts/base.pug
.modal.js-modal 
    .modal__content.js-modal__content 
        p.modal__title
        button.modal__close.js-modal__close(type="button") 
            +icon("close")
        .modal__body 
        