doctype html
html(lang="en")
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width")
    title default page
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css")
    link(rel="stylesheet",  href=cssPath)
    body
        main
            div(style="display: flex; flex-direction: column; gap: 15px; padding: 30px;")
                a(href="/1win-theme-2/dist/index.html") Main Page
                a(href="/1win-theme-2/dist/app.html") App Page
                a(href="/1win-theme-2/dist/betting.html") Betting Page
                a(href="/1win-theme-2/dist/bonus.html") Bonus App
                a(href="/1win-theme-2/dist/casino.html") Casino App
                a(href="/1win-theme-2/dist/demo.html") Demo App

        script(src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js")
        script(src=jsPath, type=jsType ? 'module' : undefined)
