@use "../settings" as *;

.breadcrumbs {
    margin-top: 8px;
    padding-block: 12px;

    &__list {
        @include size(max-content);
        @include maxSize(100%);

        @include flex(row, stretch, flex-start);
        flex-wrap: wrap;

        row-gap: 8px;
    }

    li {
        @include relative();
        @include flex(row, center, center, 8px);

        &:not(:last-child) {
            padding-right: 22px;
        }

        &:not(:last-child) {
            &::after {
                content: "|";
                @include absolute(50%, $right: 9px);
                transform: translate(0, -50%);
                color: var(--text-main, #fff);
                @include font-text-md;
            }
        }

        &:last-child {
            a,
            span {
                color: var(--accent-base, #0051ff);
            }
        }
    }

    a,
    span {
        @include relative;
        @include flex(row, center, center);
        color: var(--text-main, #fff);
        @include transition(#{color});
    }

    a {
        @include hoverActiveFocus {
            color: var(--accent-base, #0051ff);
        }
    }

    @include media-max-sm {
        margin-top: 0;
    }
}
