@use "../settings" as *;

.btn {
    cursor: pointer;
    overflow: hidden;
    padding: 12px 32px;
    border-radius: var(--button-radius, 12px);

    @include transition(#{background, box-shadow, color, border-color});

    @include relative;
    @include flex(row, center, center, 8px);

    width: fit-content;
    @include maxSize(100%);

    background: transparent;

    font-weight: 500;
    @include font-text-md;

    svg {
        @include minSize(18px, 18px);
        @include maxSize(48px, 48px);
    }

    &::after {
        content: "";
        @include absolute($all: 0px);
        z-index: 2;
        pointer-events: none;

        @include transition(#{background});
    }

    @include media-max-sm {
        padding: 12px 20px;
    }

    &--primary,
    &--secondary,
    &--tertiary,
    &--tonal {
        &[disabled],
        &.disabled {
            background: var(--disable, rgba(121, 126, 141, 0.08));
            color: var(--on-disable, rgba(255, 255, 255, 0.3));
            &::after {
                background-color: transparent;
            }
        }
    }

    &--primary {
        background: var(--button-bg, #00b24b);
        color: var(--button-color, #fff);

        @include hoverActiveFocus {
            background: var(--button-bg, #00b24b);
        }
    }

    &--secondary {
        background: var(--secondary-button-bg, #0051ff);
        color: var(--secondary-button-color, #fff);

        @include hoverActiveFocus {
            background: var(--secondary-button-hover-bg, #0045da);
        }
    }

    &--extra {
        background: var(--text-main, #fff);
        color: var(--site-bg, #141415);

        @include hoverActiveFocus {
            background: var(--text-secondary, #d2d2d2);
        }
    }

    &--small {
        padding: 4px 12px;
        border-radius: 16px;
    }

    &--tertiary {
        color: var(--tertiary-button-color, #fff);
        background: var(--tertiary-button-bg, #292a2d);

        @include hoverActiveFocus {
            background: var(--tertiary-button-hover-bg, #2e3033);
        }
    }
}
