@use "../settings" as *;

.content-img {
    display: grid;
    grid-template-columns: 1.43538fr 1fr;
    column-gap: 32px;
    margin-top: 20px;

    &:first-child {
        margin-top: 0;
    }

    & > *:only-child {
        grid-column: 1 / -1;
    }
    .btn {
        margin-top: 20px;
        &:first-child {
            margin-top: 0;
        }
    }

    &__content {
        grid-column: span 1;
    }

    img {
        width: 100%;
        grid-column: span 1;
        margin: 0;
    }

    &--reversed {
        grid-template-columns: 1fr 1.43538fr;
        .content-img__content {
            order: 1;
        }
        img {
            order: -1;
        }
    }

    @include media-max-mlg {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 0;

        &__content {
            display: contents;
        }

        & > img {
            width: 100%;
            order: -1;
            margin-top: 20px;
        }

        h2 {
            order: -2;
        }

        .btn {
            width: 100%;
        }

        &:has(h2) {
            & > img {
            }
        }
    }

    @include media-max-sm {
        margin-top: 16px;

        & > img {
            margin-top: 16px;
        }

        .btn {
            margin-top: 16px;
        }
    }
}
