@use "../settings" as *;

.go-up {
    @include flex(row, center, center);
    @include size(44px, 44px);

    @include fixed($bottom: 24px, $right: 24px);
    z-index: $z-index-go-up;

    border-radius: var(--button-radius, 12px);
    background: var(--secondary-button-bg, #0051ff);

    cursor: pointer;
    overflow: hidden;

    @include transition(background);

    &:not(.active) {
        display: none;
    }

    svg {
        @include maxSize(24px, 24px);
    }

    @include media-max-sm {
        bottom: 95px;
    }

    @include hoverActive {
        background: var(--secondary-button-hover-bg, #0045da);
    }
}
