@use "../settings" as *;

.link-block {
    align-self: stretch;

    &__link {
        height: 100%;
        padding: 16px;
        border-radius: var(--card-radius, 16px);
        background: var(--card-bg, #1d1e21);

        @include flex(row, center, flex-start, 16px);

        color: var(--text-main, #fff);
        @include transition(background);

        @include font-text-lg-m;

        img {
            width: 48px;
            height: 48px;
            min-width: 48px;
            object-fit: cover;
            border-radius: 50%;
        }

        &::after {
            content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none"><path d="m7.5 15 5-5-5-5" stroke="%23fff" stroke-width="2" stroke-linecap="round"/></svg>');
            min-width: 20px;
            height: 20px;
            display: block;
            margin-left: auto;
        }

        @include hoverActiveFocus {
            background: var(--card-secondary-bg, #27292d);
        }
    }
}
