@use "../settings" as *;

.promo-block {
    cursor: pointer;
    position: relative;
    padding: 4px 4px 4px 16px;
    border-radius: var(--button-radius, 12px);
    background: var(--tertiary-button-hover-bg, #2e3033);

    @include flex(row, center, space-between, 8px);
    overflow: hidden;
    @include transition(#{background, border-color});

    & > * {
        position: relative;
        z-index: 2;
    }

    &__text {
        color: var(--text-main, #fff);
        text-transform: uppercase;
        @include font-text-lg-m;
    }

    &--outlined {
        outline: 1px solid rgba(255, 255, 255, 0.6);
    }

    &--tr {
        outline: 1px solid rgba(255, 255, 255, 0.5);
        background: rgba(255, 255, 255, 0.1);
    }

    &__btn {
        padding: 10px;
        border-radius: 8px;
        background: var(--button-color, #fff);

        svg {
            width: 20px;
            height: 20px;
            min-width: 20px;

            rect {
                @include transition(#{fill});
            }
        }
    }

    &.copied {
        .promo-block__btn svg rect {
            fill: var(--site-bg, #141415);
        }
    }
}
