@use "../settings" as *;

.scrolling .table {
    td,
    th {
        pointer-events: none;
        user-select: none;
    }
}

.table.js-scroll-list {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    @include hideScrollbar;

    margin-top: 20px;

    &:first-child {
        margin-top: 0;
    }

    @include media-max-sm {
        margin-top: 16px;
    }

    table {
        table-layout: auto;
        min-width: 500px;

        thead {
            white-space: nowrap;
        }
    }
}

table:not([class]),
table.wp-block-table {
    table-layout: fixed;
    margin-top: 16px;

    &:first-child {
        margin-top: 0;
    }

    td,
    th {
        text-align: left;
        position: relative;
        @include tdPadding(16px, 16px, 24px);
        vertical-align: middle;
        color: var(--text-secondary, #d2d2d2);
        @include font-text-md;
    }

    th {
        color: var(--text-main, #fff);
    }

    thead {
        th {
            padding-bottom: 20px;
            font-weight: 600;
            @include font-text-lg;

            &::before {
                content: "";
                position: absolute;
                z-index: -1;
                top: 0;
                left: 0;
                height: calc(100% - 4px);
                width: 100%;
                background: var(--card-secondary-bg, #27292d);
            }
            &:first-child::before {
                border-radius: var(--card-radius, 16px) 0 0 var(--card-radius, 16px);
            }
            &:last-child::before {
                border-radius: 0 var(--card-radius, 16px) var(--card-radius, 16px) 0;
            }
        }
    }

    tbody {
        td,
        th {
            background: var(--card-bg, #1d1e21);
        }

        tr:first-child {
            td,
            th {
                &:first-child {
                    border-radius: var(--card-radius, 16px) 0 0 0;
                }
                &:last-child {
                    border-radius: 0 var(--card-radius, 16px) 0 0;
                }
            }
        }

        tr:last-child {
            td,
            th {
                &:first-child {
                    border-radius: 0 0 0 var(--card-radius, 16px);
                }
                &:last-child {
                    border-radius: 0 0 var(--card-radius, 16px) 0;
                }
            }
        }

        th {
            font-weight: 500;
        }

        tr:not(:last-child) {
            td,
            th {
                &::before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    height: 1px;
                    width: 100%;
                    background: var(--line-color, #353740);
                }

                &:first-child::before {
                    left: 16px;
                    width: calc(100% - 16px);
                }
                &:last-child::before {
                    width: calc(100% - 16px);
                }
            }
        }
    }

    .align-center {
        text-align: center;
    }

    img,
    svg {
        max-width: 100px;
        max-height: 100px;
        vertical-align: middle;
        margin-right: 4px;
    }

    @include media-max-sm {
        margin-top: 16px;
    }
}
