@use "settings" as *;

h3,
h4,
h5,
h6 {
    color: var(--text-main, #fff);
    font-weight: 600;
    @include font-text-xl;
}

h2 + :is(p:not([class]), ul:not([class]), ul.wp-block-list, ol:not([class]), ol.wp-block-list),
.with-btn
    > :is(p:not([class]), ul:not([class]), ul.wp-block-list, ol:not([class]), ol.wp-block-list) {
    margin-top: 20px;

    @include media-max-sm {
        margin-top: 16px;
    }
}

p:not([class]),
ul:not([class]),
ul.wp-block-list,
ol:not([class]),
ol.wp-block-list {
    margin-top: 16px;
    &:first-child {
        margin-top: 0;
    }
}

h1:not([class]),
h2:not([class]),
h2.heading,
h3:not([class]),
h4:not([class]),
h5:not([class]),
h6:not([class]) {
    margin-top: 20px;
    &:first-child {
        margin-top: 0;
    }
}

p:not([class]),
ul:not([class]),
ol:not([class]) {
    a:not([class]) {
        color: var(--text-secondary, #d2d2d2);
        text-decoration: underline;
        @include transition(color);

        @include hoverActiveFocus {
            text-decoration: none;
            color: var(--link-color-hover, #0075ff);
        }
    }
}

h1,
h2 {
    color: var(--text-main, #fff);
    font-weight: 600;
}

h1 {
    @include font-display-l;

    @include media-max-sm {
        @include font-display-xs;
    }
}

h2 {
    @include font-display-xs;
}

ul:not([class]),
ul.wp-block-list,
ol:not([class]),
ol.wp-block-list {
    li {
        position: relative;
        margin-top: 8px;
        padding-left: 30px;

        &:first-child {
            margin-top: 0;
        }

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 22px;
            height: 22px;

            @include flex(row, center, center);
            border-radius: 50%;
            background-color: var(--accent-base, #0051ff);
            border-bottom: 1px solid var(--text-main, #fff);
            background-position: center center;
            background-repeat: no-repeat;

            color: var(--text-main, #fff);
            text-align: center;
            font-weight: 600;
            @include font-text-sm;
        }
    }
}

ol:not([class]),
ol.wp-block-list {
    counter-reset: ol-default;

    li {
        position: relative;
        counter-increment: ol-default;
        padding-left: 38px;
        min-height: 24px;

        &::before {
            content: counter(ol-default);
        }
    }
}

ul:not([class]),
ul.wp-block-list {
    li {
        &::before {
            background-image: url('data:image/svg+xml,<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.863 3.15a.7.7 0 0 0-.494.225L5.204 9.774l-2.57-2.668a.72.72 0 0 0-.51-.227.7.7 0 0 0-.517.218.74.74 0 0 0-.207.522.75.75 0 0 0 .215.517l3.08 3.196a.707.707 0 0 0 1.019 0l6.674-6.928a.75.75 0 0 0 .157-.804.73.73 0 0 0-.27-.331.7.7 0 0 0-.412-.118" fill="%23fff"/></svg>');
            background-size: 14px 14px;
        }
    }
}
