@font-face {
  font-family: "WorkSans";
  font-display: swap;
  src: url("../../dist/fonts/WorkSans-Italic-VariableFont_wght.woff2") format("woff2"),url("../../dist/fonts/WorkSans-Italic-VariableFont_wght.woff") format("woff");
  font-weight: 100 900;
  font-style: italic;
}

@font-face {
  font-family: "WorkSans";
  font-display: swap;
  src: url("../../dist/fonts/WorkSans-VariableFont_wght.woff2") format("woff2"),url("../../dist/fonts/WorkSans-VariableFont_wght.woff") format("woff");
  font-weight: 100 900;
  font-style: normal;
}

