@use "settings" as *;
@use "normalize";
@use "layout";
@use "editor-content";
@use "fonts";
@use "form";

.no-scroll {
    overflow: hidden;
}

html {
    font:
        400 var(--font-default) / 1.5 var(--ff-worksans),
        sans-serif;
    @include default-scrollbar;
}

body {
    background: var(--site-bg, #141415);
    color: var(--text-secondary, #d2d2d2);
    overflow-x: hidden;

    @include flex(column, stretch, flex-start);
    min-height: 100vh;
    @include font-text-md;
}

main {
    flex-grow: 1;
}

table,
.wp-block-table {
    @include size(100%);
    table-layout: auto;

    border-spacing: 0;
}

img,
svg {
    max-width: 100%;
    height: auto;
}

:root {
    --offsets: 20px;
    --width-container: 1560px;
    --wrapper-margin: 48px;

    --font-default: 16px;
    --ff-worksans: "WorkSans", sans-serif;

    --brkp-burger: #{$max-mlg};

    --star-color: #fbbf24;
    --star-bg: transparent;

    /* VARIABLE COLLECTION */
    --site-bg: #141415;
    --card-bg: #1d1e21;
    --card-secondary-bg: #27292d;
    --button-color: #ffffff;
    --button-hover-color: #ffffff;
    --button-bg: #00b24b;
    --secondary-button-color: #ffffff;
    --secondary-button-hover-color: #ffffff;
    --secondary-button-bg: #0051ff;
    --link-color-hover: #0075ff;
    --text-main: #ffffff;
    --text-secondary: #d2d2d2;
    --line-color: #353740;
    --accent-base: #0051ff;
    --accent-darken-1: #404852;
    --pros: #00b24b;
    --cons: #ff0048;
    --line-secondary-color: #729bb4;
    --button-hover-bg: #008a3a;
    --secondary-button-hover-bg: #0045da;
    --tertiary-button-hover-bg: #2e3033;
    --tertiary-button-color: #ffffff;
    --tertiary-button-hover-color: #ffffff;
    --tertiary-button-bg: #292a2d;

    /* BORDER RADIUS */
    --button-radius: 12px;
    --button-radius-rem: 0.75rem;
    --card-radius: 16px;
    --card-radius-rem: 1rem;

    @include media-max-sm {
        --offsets: 16px;
    }
}
