@use "settings" as *;

.wrapper {
    position: relative;
    width: 100%;
    max-width: calc(var(--width-container) + var(--offsets, 40px) * 2);
    margin: var(--wrapper-margin) auto 0;
    padding: 0 var(--offsets, 40px);

    & > img:not([class]) {
        margin-top: 20px;
        &:first-child {
            margin-top: 0;
        }
    }

    & > .btn {
        max-width: 100%;
        margin-top: 20px;
        &:first-child {
            margin-top: 0;
        }
    }

    &.with-btn {
        display: grid;
        grid-template-columns: 1fr auto;
        column-gap: 16px;

        & > * {
            grid-column: 1 / -1;
        }
        & > h2 {
            grid-column: 1 / 2;
            align-self: center;
        }
        & > .btn {
            grid-column: 2 / -1;
            align-self: center;
            margin-top: 0;
        }
    }

    &:first-child {
        margin-top: 31px;
    }
    @include media-max-sm {
        & > img:not([class]) {
            margin-top: 16px;
        }

        & > .btn {
            width: 100%;
            min-width: unset;
            margin-top: 16px;
        }

        & > .btn {
            width: 100%;
        }

        &:first-child {
            margin-top: 16px;
        }
    }
}
